<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://keyregisterweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>keyregisterweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>keyregisterweb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$keyregisterweb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KeyRegisterEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-c.cloudapp.net;Initial Catalog=keyregisterdb;Persist Security Info=True;User ID=b31efe984cab09;Password=ed7e5bb6" Name="server=eu-cdbr-azure-west-c.cloudapp.net;user id=b31efe984cab09;password=ed7e5bb6;persistsecurityinfo=True;database=keyregisterdb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KeyRegister_WebApi.Models.KeyRegisterEntities, KeyRegister-WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KeyRegisterEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.KeyRegisterModel.csdl|res://*/Models.KeyRegisterModel.ssdl|res://*/Models.KeyRegisterModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=eu-cdbr-azure-west-c.cloudapp.net;user id=b31efe984cab09;password=ed7e5bb6;persistsecurityinfo=True;database=keyregisterdb"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>